page-cart {
	#cartid {
		font-size: 30px;
		 margin-left:5px; 
	}
	#increase {
		font-size: 30px;
	}
	#decrease {
		font-size:30px;
	}
	#backid{
		font-size: 40px;
		 margin-right:5px; 
	}
	#order_history{
      font-size: 44px;
      margin-right: 5%;
    }
}
