<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-manufacturer" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_form; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-manufacturer" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name"><?php echo "Title"; ?></label>
            <div class="col-sm-5">
              <input type="text" name="title" value="<?php echo $title; ?>" placeholder="<?php echo $entry_name; ?>" id="input-name" class="form-control" />
              <?php if ($error_name) { ?>
              <div class="text-danger"><?php echo $error_name; ?></div>
              <?php } ?>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-2 control-label" for="input-mobile"><?php echo ' Description'; ?><br /><span style="display: none;" class=""><br/>#customer_name : a placeholder for Customername<br/><br/>#hotelname : a placeholder for Hotelname<br/></span></label>
            <div class="col-sm-5">
              <textarea cols="40" rows="5" name="description" id="input-description" class="form-control"><?php echo $description; ?></textarea>
            </div>
          </div>
          <div class="form-group ">
            <label class="col-sm-2 control-label" for="input-name"><?php echo "Date"; ?></label>
            <div class="col-sm-5">
              <input type="date" name="date" value="<?php echo $date; ?>" placeholder="<?php echo 'Date'; ?>" id="date" class="form-control" />
            </div>
          </div>
          <div class="form-group ">
            <label class="col-sm-2 control-label" for="input-name"><?php echo "Time"; ?></label>
            <div class="col-sm-5">
              <input type="time" name="time" value="<?php echo $time; ?>" placeholder="<?php echo 'Time'; ?>" id="time" class="form-control" />
            </div>
          </div>
        </form>
      </div>
    </div>
     <div class="pull-right">
        <button type="submit" form="form-manufacturer" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
  </div>
</div>
<script type="text/javascript">
/*
$('input[name=\'name\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=catalog/color/autocomplete&token=<?php echo $token; ?>&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['color_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
  }
});
*/
</script>
<?php echo $footer; ?>