<!DOCTYPE html>
<html>
	<head>
		<title>DELIVERY NOTE</title>
	</head>
	<body>
		<div align="center">
			<h2>DELIVERY NOTE</h2>
			<table style="border: 1px solid black; border-collapse: collapse; width: 800px; padding: 0px; ">
				<tr>
					<td rowspan="2" align="center" style="border-bottom: 1px solid black;border-collapse: collapse;" > 
						<img src="C:\xampp\htdocs\retail\admin\backactivate.jpg" style="width: 80px; height: 80px;">
					</td>

					<td rowspan="2" align="left" style="border-bottom: 1px solid black;border-collapse: collapse;">
						<b>PowerCraft Electonics PVT.LTD</b> <br/>
									GSTN/UIN: 123456789123456<br/>
									CIN: u13909MH1997PTC106143<br/>
									pec47@rediffmail.com<br/>
									GSTN/UIN: 123456789123456<br/>
									CIN: u13909MH1997PTC106143<br/>
									pec47@rediffmail.com
					</td>
					<td style="border: 1px solid black; border-collapse: collapse;">Delivary Note<br/><br/>
						<b>1234</b>
					</td>
					<td style="border: 1px solid black; border-collapse: collapse;">
						<b> Model/ Terms of Payment </b><br/><br/><br/>
					</td>
				</tr>
				<tr>
					<td style="border: 1px solid black; border-collapse: collapse;">Supplier's Ref <br/> <br/><br/> </td>
					<td style="border: 1px solid black; border-collapse: collapse;">Other Reference(s) <br/><br/><br/> </td>
				</tr>					
				<tr>
					<td rowspan="3" style="border-bottom: 1px solid black; border-collapse: collapse;" colspan="2">				<b>Ador Infotech<br/></b>
							GSTN/UIN: 123456789123456<br/>
							CIN: u13909MH1997PTC106143<br/>
							pec47@rediffmail.com<br/>
							GSTN/UIN: 123456789123456<br/>
							CIN: u13909MH1997PTC106143<br/>
							pec47@rediffmail.com
					</td>
					<td style="border: 1px solid black; border-collapse: collapse;">Buyer's Order No.<br/><br/>
						<b>By Mail</b>
					</td>
					<td style="border: 1px solid black; border-collapse: collapse;">Dated:<br/><br/>
						<b>3-Jan-2019</b>
					</td>
				</tr>
				<tr>
					<td style="border: 1px solid black; border-collapse: collapse;">Dispatch Document No.<br/><br/>
						<b>1234</b>
					</td>
					<td style="border: 1px solid black; border-collapse: collapse;">Delivary Note Date<br/><br/>
						<b>3-Jan-2019</b>
					</td>
				</tr>
				<tr>
					<td style="border: 1px solid black; border-collapse: collapse;"> Dispatch Through:<br/><br>
							<b>COURIER</b>				
					</td>
					<td style="border: 1px solid black; border-collapse: collapse;">Destination<br><br><br>
					</td>
				</tr>
				<tr>
					<td  style="border-collapse: collapse;" colspan="2" >
						<b>Ador Infotech<br/></b>
							GSTN/UIN: 123456789123456<br/>
							CIN: u13909MH1997PTC106143<br/>
							pec47@rediffmail.com<br/>
							GSTN/UIN: 123456789123456<br/>
							CIN: u13909MH1997PTC106143<br/>
							pec47@rediffmail.com
					</td>
					<td style="border: 1px solid black; border-collapse: collapse;" colspan="2"> 
								Terms of Delivary:<br/><br/><br/><br/><br/><br/>
					</td>
				</tr>
			</table>
			<table style="border: 1px solid black; padding: 6px; border-collapse: collapse; width: 800px">
				<tr >	
					<th style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center; width: 5px;"  > Sr No. </th>
					<th style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center; width: 415px;" > Description of Goods</th>
					<th style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center; width: 100px;" > HSN/SAC </th>
					<th style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center; width: 100px;" > Quantity </th>
					<th style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center; width: 100px; " > RATE </th>
					<th style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center; width: 100px" > Amount  </th>
				</tr>
				<tr>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center; width: 5px;"  >
						1.
					</td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: left; width: 405px;">
						<b style="float: left;"> Balaji Touch Pos</b>
					</td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: left;  width: 100px;" > 84713090
					</td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: right; width: 100px;" > 
						<b style="float: left;">1 NOS</b>
					</td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: right; width: 100px;" > 
					</td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: right; width: 100px" >
					</td>
				</tr>
				<tr>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center; width: 5px;"  ></td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: right; width: 405px;" ><b> Total</b></td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center; width: 100px;" > </td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: left; width: 100px;" > 1 NOS</td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: right; width: 100px; " > </td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: right; width: 100px" > </td>
				</tr>
				<tr>
					<td colspan="6" style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: left; width: 405px;" >
						<b style="float: right;">E. & O.E.</b><br/> <br/> 
					</td>
				</tr>
			</table>	
			<table style="border: 1px solid black; border-collapse: collapse; text-align: center; width: 800px" >
				<tr>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center; width: 300px;" >HSN/SAC</td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center; width: 100px;" >Taxable Value</td>
				</tr>
				<tr>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: left; " >84713090</td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center;" ></td>
				</tr>
				<tr>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: right;" ><b>Total</b></td>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: center;" ></td>
				</tr>
				<tr>
					<td colspan="2" style="border-right: 1px solid black; padding: 6px; border-collapse: collapse; text-align: left;" >Tax_amount(in word):
							<b>NIL</b>
							<br/>
							<br/>
							<br/>
							<br/>
							<br/>
							Company's Pan: <label name="Companypan" value="Companypan"><b>AABPC225G</b></label>
					</td>
				</tr>
				<tr>
					<td style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: left;" > Recd. in Good Condition 
						<br/>
						<br/>
						<br/>
						<br/>
					</td>
					<td  style="border: 1px solid black; padding: 6px; border-collapse: collapse; text-align: right;" >
						<b>For Powercraft Electronics Pvt.Ltd.</b>
						<br/>
						<br/>
						<br/>
						<b>Authorised Signatory</b>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>