<?php echo $header; ?><?php echo $column_left; ?>
<!-- <div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="<?php echo $add; ?>" data-toggle="tooltip" title="<?php echo $button_add; ?>" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="<?php echo $button_delete; ?>" class="btn btn-danger" onclick="confirm('<?php echo $text_confirm; ?>') ? $('#form-sport').submit() : false;"><i class="fa fa-trash-o"></i></button>
      </div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <?php if ($success) { ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?> -->
    <div class="panel panel-default">
      <!-- <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> <?php echo $text_list; ?></h3>
      </div> -->
      <div class="panel-body">
      <form action="<?php echo $reason; ?>" method="post" enctype="multipart/form-data" id="form-option" class="form-horizontal">
        <div class="row" style="margin-left: 30px;">
               <div class = "col-sm-3">
                  <label style="margin-right:60px " ><?php echo 'Order No'; ?></label><span class="orderappmargin"><?php echo $order_id ?></span><br>
                  <label> Cancel Reason</label><br>
                  <textarea name = "cancel_reson" cols = "60" row = "8" style="margin: 0px; height: 130px; width: 291px;" ></textarea><br>
                  <!-- <a href="<?php echo $value['cancel']; ?>"  class="btn btn-primary">OK</a> -->
                  <button type="submit" class="btn btn-primary">OK</button>
                </div><br>
        </div>
      </form>
        <!-- <div class="panel-body">
          <div class="row" >
            <div>
                <?php foreach($value['itemarray'] as $key) { ?>
                  <label style="margin-right:50px "><?php echo $key['item_name']; ?></label>
                  <label style="margin-right:120px "><?php echo $key['quantity']?></label>
                  <br>
                <?php } ?>
              </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>    
<?php echo $footer; ?>